src/main/mule/cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6530cee8-2b63-4f95-9100-180bd60ba7b4" >
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<flow name="cicdFlow" doc:id="b3309bbb-18e1-4667-b165-24f500c7a7a3" >
		<http:listener doc:name="Listener" doc:id="667fe7e0-1c61-40a9-8d92-dde17ecf2ceb" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["cicd using jenkins"]' doc:name="Set Payload" doc:id="8200dec0-b872-46ec-a9e5-218f30cbe93b" />
	</flow>
</mule>
